@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');

:root {
  --main-color: #282c34;
  --secondary-color: #6c757d;
  --light-secondary-color: #cfd4d8;
  --dark-secondary-color: #2b2f33;
  --darker-secondary-color: #191b1d;
}

input[type="checkbox"] {
  background-color: var(--secondary-color);
}

html, body {
  height: 100%;
}

.App, #root {
  height: 100%;
}

.App-header {
  background-color: var(--main-color);
  height: 100%;
  color: white;
}

#login-title {
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 4px 3px 0 rgb(0, 0, 0);
  margin-bottom: 20px;
  font-size: 40pt;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.center-class {
  margin: 0 auto;
}

.chat {
  width: 100%;
}

.chat input {
  padding: 10px;
  width: 90%;
}

.channel-list {
  max-height: 300px;
  overflow: auto;
}

.message {
  padding: 10px;
  margin: 10px;
  background: #34343c;
  color: #c9d2e4;
}

.message img {
  max-width: 100%;
  max-height: 100%;
}

.message .message-header {
  font-size: 14pt;
}

#chatWrapper {
  max-height: 100%;
  overflow: auto;
}

.input-box {
  height: auto !important;
  min-height: calc(1.5em + .75rem + 2px);
}

#main-text-input {
  background-color: var(--secondary-color);
  color: var(--light-secondary-color);
  border: none;
}

.input-box img{
  max-width: 100%;
  max-height: 100%;
}

#chat-content {
  height: calc(100vh - 60px);
  overflow: auto;
}

#chat-input {
  height: 40px;
  margin: 10px;
}

#login-spinner {
  display: none;
}

#sidebar {
  background-color: #232325;
}

.channel-info {
  font-weight: bolder;
  padding: 5px;
}

.channel-user-info {
  padding: 10px;
}